@model SensenbrennerHospital.Models.DepartmentDto

@{
    ViewBag.Title = "Delete Department";
}

<div class="viewContainer">
    <h2 class="viewTitle">Delete Department</h2>

    <h3 class="formTitle">Are you sure you want to delete this department?</h3>
    <div>
        <dl class="customDL">
            <dt>
                @Html.DisplayNameFor(model => model.DepartmentName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DepartmentName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DepartmentPhoneNumber)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DepartmentPhoneNumber)
            </dd>

        </dl>

        @using (Html.BeginForm("Delete", "Department", new { id = Model.DepartmentID }))
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-danger" /> |
                @Html.ActionLink("Back to List", "List")
            </div>
        }
    </div>
</div>