@model SensenbrennerHospital.Models.ViewModels.ShowDepartment

@{
    ViewBag.Title = Model.department.DepartmentName;
}

<div class="viewContainer">

    <h2 class="viewTitle">@Model.department.DepartmentName</h2>

    <div>
        <dl class="customDL">
            <dt>
                @Html.DisplayNameFor(model => model.department.DepartmentName):
            </dt>

            <dd>
                @Html.DisplayFor(model => model.department.DepartmentName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.department.DepartmentPhoneNumber):
            </dt>

            <dd>
                @Html.DisplayFor(model => model.department.DepartmentPhoneNumber)
            </dd>
        </dl>

        @if (Model.listOfPractices.Count() >= 1)
        {
            <h4>Practices</h4>
            <dl class="customDL">
                @foreach (var item in Model.listOfPractices)
                {
                    <dt>
                        @Html.DisplayNameFor(model => model.listOfPractices.First().PracticeName)
                    </dt>

                    <dd>
                        @Html.ActionLink(item.PracticeName, "Details", "Practice", new { id = item.PracticeID })
                    </dd>
                }
            </dl>
        }
    </div>
    <p>
        @if (User.IsInRole("Admin"))
        {
            @Html.ActionLink("Edit", "Update", new { id = Model.department.DepartmentID }) Html.Raw("|");
        }
        @Html.ActionLink("Back to List", "List")
    </p>
</div>