@model SensenbrennerHospital.Models.DepartmentDto

@{
    ViewBag.Title = "Update Department";
}

<div class="viewContainer">
    <h2 class="viewTitle">Department</h2>

    @using (Html.BeginForm("Update", "Department", new { id = Model.DepartmentID }, FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="customForm">
            <h4 class="formTitle">Update Department</h4>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.DepartmentID, new { Name = "DepartmentID" })

            <div class="form-group">
                @Html.LabelFor(model => model.DepartmentName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DepartmentName, new { htmlAttributes = new { @class = "form-control", Name = "DepartmentName" } })
                    @Html.ValidationMessageFor(model => model.DepartmentName, "", new { @class = "text-danger", Name = "DepartmentName" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DepartmentPhoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DepartmentPhoneNumber, new { htmlAttributes = new { @class = "form-control", Name = "DepartmentPhoneNumber" } })
                    @Html.ValidationMessageFor(model => model.DepartmentPhoneNumber, "", new { @class = "text-danger", Name = "DepartmentPhoneNumber" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "List")
    </div>
</div>