<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Sensenbrenner Hospital</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://kit.fontawesome.com/ba57f7a475.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- Header -->
    <header>
        <div class="headerWrapper wrapper">
            <nav>
                <!-- Logo -->
                <div class="logo">
                    <a href="@Url.Action("Index", "Home")" class="navbar-brand">
                        <img src="@Url.Content("~/Content/Images/siteLogo2.png")" />
                    </a>
                </div>
                <ul id="mainMenu">
                    <li>@Html.ActionLink("Online Appointment", "Create", "AppointmentBooking")</li>
                    <li>@Html.ActionLink("Patient and Visitors", "List", "Faq")</li>
                    <li>@Html.ActionLink("Department Directory", "List", "Department")</li>
                    <li>@Html.ActionLink("About Us", "About", "Home")</li>
                    <li>@Html.ActionLink("Careers", "Index", "Career")</li>
                    <li>@Html.ActionLink("Practices", "ListPractices", "Practice")</li>
                    <li>@Html.ActionLink("Contact Us", "Contact", "Home")</li>
                </ul>
            </nav>
            <div class="signInContainer">
                <span class="FrButton"><a href="#">FR</a></span>

                @if (User.Identity.IsAuthenticated)
                {
                    <span class="signInButton"><a href="@Url.Action("Index", "Manage")">@User.Identity.Name</a></span>
                    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                    {
                        @Html.AntiForgeryToken()
                            <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
                    }
                }
                else
                {
                    <span class="signInButton"><a href="@Url.Action("Login", "Account")">Sign In</a></span>
                }
                <span class="fas fa-search searchIcon"><a href="#"></a></span>
            </div>
        </div>
        <div class="updates">
            <h1>Important Updates</h1>
            <p class="wrapper">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae id sodales donec amet in ultricies. Molestie vel, vestibulum vitae enim sed enim, pharetra. Leo sapien rhoncus fermentum diam mauris donec. Vestibulum sodales risus ac nec dui, mollis sem.</p>
        </div>
    </header>
    <!-- End of Header -->
    <!-- Main Content -->
    <main>
        @RenderBody()
    </main>

    <!-- Footer -->
    <footer>
        <ul class="footerMenu">
            <li>@Html.ActionLink("Online Appointment", "Create", "AppointmentBooking")</li>
            <li>@Html.ActionLink("About Us", "About", "Home")</li>
            <li>@Html.ActionLink("Department Directory", "List", "Department")</li>
            <li>@Html.ActionLink("Contact Us", "Contact", "Home")</li>
            <li>@Html.ActionLink("Patient and Visitors", "List", "Faq")</li>
            <li>@Html.ActionLink("Careers", "Index", "Career")</li>
        </ul>
        <div class="footerExtraInfo">
            <a href="@Url.Action("Index", "Home")"><img src="@Url.Content("~/Content/Images/siteLogo2.png")" alt="sensenbrenner hospital logo"></a>
            <a href="#">Terms and conditions</a>
            <a href="#">Privacy policy</a>
        </div>
        <span id="copyright">Copyright © 2021 Humber Hospital Project - Team 4</span>
    </footer>
    <!-- End of Footer -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
