@model SensenbrennerHospital.Models.ViewModels.ListDoctor

@{
    ViewBag.Title = "DeleteConfirm";
}

<h2>DeleteConfirm</h2>

<div>
    <h4>Doctor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Practice.PracticeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Practice.PracticeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Doctor.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Doctor.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Doctor.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Doctor.LastName)
        </dd>

    </dl>


    @using (Html.BeginForm("Delete", "Doctor", new { id = Model.Doctor.DoctorID }))
    {
        @Html.AntiForgeryToken()
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" />
            @Html.ActionLink("Back to List", "ListDoctors")
        </div>
    }

</div>
