@model SensenbrennerHospital.Models.ViewModels.ListDoctor

@{
    ViewBag.Title = "Delete Doctor";
}

<div class="viewContainer">
    <h2 class="viewTitle">Delete Doctor</h2>
    
    <h3 class="formTitle">Are you sure you want to delete this Doctor?</h3>
    <div>
        <dl class="customDL">
            <dt>
                @Html.DisplayNameFor(model => model.Practice.PracticeName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Practice.PracticeName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Doctor.FirstName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Doctor.FirstName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Doctor.LastName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Doctor.LastName)
            </dd>

        </dl>


        @using (Html.BeginForm("Delete", "Doctor", new { id = Model.Doctor.DoctorID }))
        {
            @Html.AntiForgeryToken()
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-danger" />
                @Html.ActionLink("Back to List", "ListDoctors")
            </div>
        }

    </div>
</div>