@model SensenbrennerHospital.Models.DoctorDTO

@{
    ViewBag.Title = Model.FirstName + " " + Model.LastName;
}

<div class="viewContainer">
    <h2 class="viewTitle">DoctorDetails</h2>

    <div>
        <h4>Doctor Information</h4>
        <hr />
        <dl class="customDL">
            <dt>
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FirstName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LastName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LastName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PracticeID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PracticeID)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Update", new { id = Model.DoctorID }) |
        @Html.ActionLink("Back to List", "ListDoctors")
    </p>
</div>