@model IEnumerable<SensenbrennerHospital.Models.ViewModels.ListDoctor>

@{
    ViewBag.Title = "ListDoctors";
}

<h2>List Doctors</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Doctor.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Doctor.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Practice.PracticeName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            
            @Html.DisplayFor(modelItem => item.Doctor.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Doctor.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Practice.PracticeName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Update", new { id=item.Doctor.DoctorID }) |
            @Html.ActionLink("Details", "DoctorDetails", new { id=item.Doctor.DoctorID }) |
            @Html.ActionLink("Delete", "DeleteConfirm", new { id=item.Doctor.DoctorID })
        </td>
    </tr>
}

</table>
