@model IEnumerable<SensenbrennerHospital.Models.VolunteerPositionDto>
@{
    ViewBag.Title = "View";
}

<div class="viewContainer">

    <h2 class="viewTitle">Volunteer Positions</h2>
    <div class="record-container">
        @foreach (var volunteerposition in Model)
        {

            <div class="record">
                <div class="_record">

                    <div class="recordtitle">
                        <h1>@volunteerposition.Name </h1>
                        <p>@volunteerposition.Description</p>

                    </div>
                    <div class="linknav">
                        <span class="editlink">@Html.ActionLink("Details", "Details", new { id = volunteerposition.CvpID })</span>
                        <span class="editlink">@Html.ActionLink("Delete", "DeleteConfirm", new { id = volunteerposition.CvpID })</span>
                    </div>

                </div>
            </div>
        }
        <div class="record _record" id="createNew">
            <h3>@Html.ActionLink("Create New", "Create")</h3>
        </div>
    </div>
</div>