@model SensenbrennerHospital.Models.ViewModels.UpdateVolunteer

@{ 
    ViewBag.Title = "Add Volunteer";
}

<div class="viewContainer">
    <h2 class="viewTitle">Add Volunteer</h2>
    @using (Html.BeginForm())
    {

        @Html.AntiForgeryToken()

        <div class="customForm">
            <h4 class="formTitle">New Volunteer</h4>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(model => model.volunteer.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.volunteer.FirstName, new { htmlAttributes = new { @class = "form-control", Name = "FirstName" } })
                    @Html.ValidationMessageFor(model => model.volunteer.FirstName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.volunteer.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.volunteer.LastName, new { htmlAttributes = new { @class = "form-control", Name = "LastName" } })
                    @Html.ValidationMessageFor(model => model.volunteer.LastName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.alldepartments.First().DepartmentName, htmlAttributes: new { @class = "control-label col-md-2" })

                <div class="col-md-10">

                    <select class="dropD" name="DepartmentID">
                        @foreach (var department in Model.alldepartments)
                        {
                            <option value="@department.DepartmentID">@department.DepartmentName</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" class="dropD" id="button" value="Create" />
                    </div>
                </div>
            </div>
        </div>
    }

    <div class="dropD">
        @Html.ActionLink("Back to List", "List")
    </div>
</div>