@model SensenbrennerHospital.Models.AppointmentBooking

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AppointmentBooking</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DoctorInfo.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DoctorInfo.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RequestDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequestDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AppointmentDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AppointmentDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Confirmation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Confirmation)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AppointmentID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
