@model IEnumerable<SensenbrennerHospital.Models.ViewModels.ListPractices>
@{
    ViewBag.Title = "Practices";
}

<div class="viewContainer">
    <h2 class="viewTitle">Practices List</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="customTable">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Department.DepartmentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Practice.PracticeID)
            </th>
            @if (User.IsInRole("Admin"))
            {
                <th></th>
            }
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Department.DepartmentName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Practice.PracticeName)
                </td>
                @if (User.IsInRole("Admin"))
                {
                <td>
                    @Html.ActionLink("Edit", "Update", new { id = item.Practice.PracticeID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Practice.PracticeID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Practice.PracticeID })
                </td>
                }
            </tr>
        }

    </table>
</div>