@model SensenbrennerHospital.Models.CareerDto

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Career</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CareerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CareerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CareerPayRange)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CareerPayRange)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CareerType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CareerType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CareerDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CareerDescription)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CareerID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
