@model IEnumerable<SensenbrennerHospital.Models.ViewModels.ListFaq>

@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>Question</th>
        <th>Answer</th>
        <th>Categories</th>
        <th>More options</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.faq.Question
        </td>
        <td>
            @item.faq.Answer
        </td>
        <td>
            @foreach (var category in item.category)
            {
                @category.CategoryName
                 - 
            }
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
