@model SensenbrennerHospital.Models.Donation

@{
    ViewBag.Title = "DeleteConfirm";
}

<h2>DeleteConfirm</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Donation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DonationAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DonationAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DonationMethod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DonationMethod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DonationText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DonationText)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DonationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DonationDate)
        </dd>

    </dl>

    @using (Html.BeginForm("Delete", "Donation", new { id = Model.DonationID })) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
