@model IEnumerable<SensenbrennerHospital.Models.DonationDto>

@{
    ViewBag.Title = "DonationList";
}

<h2>DonationList</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DonationID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DonationAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DonationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DonationMethod)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DonationText)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DonationID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DonationAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DonationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DonationMethod)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DonationText)
        </td>
        <td>
            

                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) 
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) 
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            

        </td>
    </tr>
}

</table>
